apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
 name: rke2-calico
 namespace: kube-system
spec:
 valuesContent: |-
   installation:
     calicoNetwork:
       ipPools:
         - blockSize: 26
           cidr: $CLUSTER_CIDR
           encapsulation: ipip
           disableBGPExport: false
           natOutgoing: Enabled
           nodeSelector: all()
